.container {
  min-height: 100vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9fa;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666c78;
  margin-bottom: 4rem;
}

.title span:first-child {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebedf0;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.subtitle {
  color: #98a0af;
  font-size: 14px;
  margin-top: 0.5rem;
}

.activityGrid {
  display: grid;
  grid-template-columns: repeat(7, 11px);
  grid-template-rows: repeat(4, 11px);
  gap: 4px;
  padding: 4px;
}

.monthContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.yearContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 1rem 0.5rem 0;
  background-color: #fdfdfd;
}

.monthName {
  margin-top: 8px;
  color: #24292e;
  font-size: 12px;
}

.cube {
  width: 11px;
  height: 11px;
  background-color: #ebedf0;
  border-radius: 2px;
  cursor: pointer;
}

.cube--l1 {
  background-color: #40c463;
}

.cube--l2 {
  background-color: #40c463;
}
.cube--l3 {
  background-color: #30a14e;
}
.cube--l4 {
  background-color: #216e39;
}
